<%= form_with(model: @task, local: true) do |f| %>

  <% if @task.errors.any? %>
      <div id="error_explanation">
        <h3><%= @task.errors.count %>件のエラーがあります。</h3>
        <ul>
          <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
        </div>
  <% end %>

  <div class="task_title">
      <%= f.label :title, 'タスク名'%>
      <%= f.text_field :title %>
  </div>

    <div class="task_content">
      <%= f.label :content, 'タスク詳細'%>
      <%= f.text_field :content %>
  </div>

  <%= f.submit id: "task_submit" %>

<% end %>