<h4><%= current_user.name %>のタスク一覧</h4>

<h6>タスク検索</h6>
<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :search_title, value: params[:search_title] %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :search_status, options_for_select([['未着手', 0], ['着手中', 1], ['完了', 2]], selected: params[:search_status]), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :labels %>
    <%= form.collection_check_boxes(:search_labels, Label.all, :id, :name, checked: params[:search_labels], include_hidden: false) %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Search', search_status: nil %>
  </div>
<% end %>

<table>
  <tr>
    <th>タスク名</th>
    <th><% if params[:limit_sort_expired] %><%= link_to "△タスク終了期限", tasks_path %>
     <% else %><%= link_to "タスク終了期限", tasks_path(limit_sort_expired: true) %><% end %></th>
    <th><% if params[:priority_sort_expired] %><%= link_to "△タスク優先度", tasks_path %>
     <% else %><%= link_to "タスク優先度", tasks_path(priority_sort_expired: true) %><% end %></th>
    <th><% if params[:limit_sort_expired] || params[:priority_sort_expired] %><%= link_to "タスク作成日時", tasks_path %>
     <% else %><%= link_to "▽タスク作成日時", tasks_path %><% end %></th>
    <th></th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.limit %></td>
      <td><%= task.priority %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to "タスク詳細", task_path(task.id), class: "btn btn-primary mr-3"%></td>
      <td><%= link_to "タスク編集", edit_task_path(task.id), class: "btn btn-primary mr-3" %></td>
      <td><%= link_to 'タスク削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: "btn btn-primary mr-3"%></td>
    </tr>
  <% end %>
  <%= paginate @tasks %>
</table>

