<h2>タスク一覧</h2>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>

<p><%= notice %></p>

<table>
  <tr>
    <td>タスク名</td>
    <td></td>
    <td></td>
  </tr>

<% @tasks.each do |task| %>
  <tr class="task_row">
    <td><%= task.title %></td>
    <td><%= link_to "タスク詳細", task_path(task.id) %></td>
    <td><%= link_to "タスク編集", edit_task_path(task.id) %></td>
    <td><%= link_to 'タスク削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>

