<h2>タスク一覧</h2>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>

<p><%= notice %></p>

<h2>タスク検索</h2>
<%= form_tag(root_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <tr>
    <td>タスク名</td>
    <td></td>
    <td></td>
  </tr>

<% @tasks.each do |task| %>
  <tr class="task_row">
    <td><%= task.title %></td>
    <td><%= link_to "タスクの詳細を見る", task_path(task.id) %></td>
    <td><%= link_to "タスクを編集する", edit_task_path(task.id) %></td>
    <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>

