<h4>User:<%= @user.name %>の詳細</h4>

<div class="user_info">
  <p><strong>ID:</strong><%= @user.id %></p>
  <p><strong>Email:</strong><%= @user.email %></p>
  <p><strong>Admin:</strong><%= @user.admin %></p>
</div>

<table>
  <tr>
    <th>タスク名</th>
    <th>タスク終了期限</th>
    <th>タスク優先度</th>
    <th>タスク作成日時</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @user.tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.limit %></td>
      <td><%= task.priority %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to "タスク詳細", admin_task_path(task.id) %></td>
      <td><%= link_to "タスク編集", edit_admin_task_path(task.id) %></td>
      <td><%= link_to 'タスク削除', admin_task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
