<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal">
          <% if current_user&.admin? %>
            <%= link_to '万葉課題 for Developer ver.', admin_root_path %>
          <% else %>
            <%= link_to '万葉課題', root_path %>
          <% end %>
        </h4>
          <nav class="my-2 my-md-0 mr-md-3">
            <%= link_to 'トップ画面に戻る', root_path %>
            <%= link_to '新規タスクの登録', new_task_path %>
            <% if current_user&.admin? %>
              <%= link_to 'ユーザー一覧', admin_users_path %>
              <%= link_to 'タスク一覧', admin_root_path %>
            <% end %>
          </nav>

          <% if logged_in? %>
            <%= link_to("Profile", user_path(current_user.id), method: :get, class: "btn btn-outline-primary") %>
            <%= link_to("Logout", session_path(current_user.id), method: :delete, data: {confirm: "ログアウトしますか？"}, class: "btn btn-outline-primary") %>
          <% else %>
            <%= link_to("Sign up", new_user_path, class: "btn btn-outline-primary") %>
            <%= link_to("Login", new_session_path, class: "btn btn-outline-primary") %>
          <% end %>
      </div>
      
      <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>  
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <p>----------------------------------------------------------------------------------------------</p>
      <p>@Manyo task memo by Yuya Tsuno</p>
    </footer>
  </body>
</html>
